<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">

{% seo %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}
  </head>

  <body>
    <a id="skip-to-content" href="#content">Skip to the content.</a>

    <header class="page-header" role="banner">
      <h1 class="project-name">{{ site.title | default: page.title | default: site.github.repository_name }}</h1>
      <h2 class="project-tagline">{{ site.description | default: page.description | default: site.github.project_tagline }}</h2>
      
      <a href="./index.html" class="btn">Home</a>
      <a href="./research.html" class="btn">Research</a>
      <a href="./team.html" class="btn">Team</a>
      <a href="./publication.html" class="btn">Publication</a>
      <a href="./software.html" class="btn">Software</a>
      <a href="./courses.html" class="btn">Teaching</a>
    </header>

    <main id="content" class="main-content" role="main">
      {{ content }}
    </main>

    <footer class="site-footer2">
        <div class=".site-footer2-contact-info">
          <strong>CONTACT</strong><br>
          Department of Biostatistics and Bioinformatics<br>
          Department of Mathematics<br>
          Duke University<br>
          Hock Plaza 10048<br>
          2424 Erwin Road<br>
          Durham, NC 27705<br>
          <span class="email-address">jichun DOT xie AT duke DOT edu</span>
        </div>
        <nav class="site-footer2-nav">
          <strong>NAVIGATION</strong><br>
          <ul>
            <li><a href="./index.html">Home</a></li><br>
            <li><a href="./research.html">Research</a></li><br>
            <li><a href="./team.html">Team</a></li><br>
            <li><a href="./publication.html">Publication</a></li><br>
            <li><a href="./software.html">Software</a></li><br>
            <li><a href="./courses.html">Teaching</a></li><br>
          </ul>
    </footer>     
  </body>
</html>